form.ng-invalid.submitted form.ng-invalid
{
    border: red 0.5px solid;
}
.form-check-input{
    padding:2.8vh 0;
}
.bordernone
{
    width: 80%;
    border: none;
}

.bordernone:focus
{
    border: none;
    outline: none;
}
mat-form-field {
    margin-right: 12px;
  }
.checkbox
{
    min-width: 3.5vw;
}
.logo
{
    color: #7eaff8;
    font-size: 38px;
    margin-left:1vw ;
    line-height: normal;
}
.row
{
    height: 10vh;
}
input.cb1
{
   padding: 0;
}
.wid-20
{
    height: 20vh;
}