<div class="container-fluid ">
<div class="d-block col-12 p-5 ">
    <form [formGroup]="taskService.TaskForm" (submit)="onSubmit()" [class.submitted]="submitted" >
        <input type="text" formControlName="Taskname" placeholder="Add Items...">
        <button type="submit">Add Item</button>
    </form>
</div>
<div class="col-6 ">
    <ul>
        <h1>Not Finished Tasks</h1>
        <li *ngFor="let l of NotFinishedlist">
            <div>
                <p (click)="ClicktoEdit(l)" style="cursor: pointer;">{{l.Taskname}}</p>
                <p>{{l.date|date:'dd/MM/yyyy'}}</p>
                <p>{{l.done}}</p>
                <button (click)="deletetask(l)">Delete</button>
            </div>
        </li>
        <h1>Finished Tasks</h1>
        <li *ngFor="let l of Finishedlist">
            <div>
                <p (click)="ClicktoEdit(l)" style="cursor: pointer;">{{l.Taskname}}</p>
                <p>{{l.date|date:'dd/MM/yyyy'}}</p>
                <p>{{l.done}}</p>
                <button (click)="deletetask(l)">Delete</button>
            </div>
        </li>
    </ul>
</div>
</div>