form.ng-invalid.submitted form.ng-invalid
{
    border: red 0.5px solid;
}
.form-check-input{
    padding:2.8vh 0;
}
.bordernone
{
    width: 80%;
    border: none;
}

.bordernone:focus
{
    border: none;
    outline: none;
}